name: First Worflow
on: workflow_dispatch
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greetings
        run: echo "Hello World!"
      - name: Print goodbye
        run: echo "Done - bye!"
        
       
    
